header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 102;
    background-color: $clr-bg-primary;
    transition: all .2s ease-in-out;
    padding: 5px 0;    

    @media(max-width: 1150px) {
        flex-direction: column;
        justify-content: center;
        background-color: #fff;  
        
    }

    &.scrolled {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        background-color: white;

        @media(max-width: 1150px) {

            padding: 0;
            
            .logo-toggle {

                .logo {

                    img {
                        transform: scaleY(98%)
                    }
                }

                .toggle {
                    transform: scaleY(98%);
                }
            }           
        }
    }

    .logo-toggle {

        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .2s ease-in-out;   

        @media(max-width: 1150px) {
            width: 100%;
        }

        .logo {
            @include flex-center;         
            font-family: $secondary-font;
            font-size: 26px;
            font-weight: 700;

            img {
                transition: all .2s ease-in-out;
                width: 50px;
                margin: 0 10px 0 3rem;

                @media(max-width: 1150px) {
                    margin: 10px;
                }
            }

        }

        .toggle {
            display: none;
            position: relative;
            cursor: pointer;            
            height: 35px;
            width: 45px;
            margin-right: 1rem;
          
            @media(max-width: 1150px) {
                display: block;
            }

            .middle {                
                width: 35px;
                height: 2px;
                background-color: black;
                position: absolute;
                top: 20px;
                right: 5px;
                transition: all .2s ease;

                &::before {
                content: '';
                display: inline-block;
                width: 35px;
                height: 2px;
                background-color: black;
                position: absolute;
                top: -10px;
                right: 0px;
                transition: all .2s ease;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 35px;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    transition: all .2s ease;
                    }
            }

            &.open {
                 .middle {
                    display: inline-block;
                    width: 35px;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 20px;
                    right: 5px;
                    transform: rotate(45deg);

    
                    &::before {
                    content: '';
                    display: inline-block;
                    width: 35px;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    top: 0;
                    right: 0px;
                    }
    
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 35px;
                        height: 2px;
                        background-color: black;
                        position: absolute;
                        top: 0;
                        right: 0px;
                        transform: rotate(90deg);
                        }
                }
            }

        }
    }

    .menu {        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .4s ease;

        @media(max-width: 1150px) {
            flex-direction: column;
            max-height: 0;
            overflow: hidden;            
        }

        &.open {
            max-height: 800px;
        }


    nav {
        transition: all .2s ease-in-out;           

        .nav-list {
            list-style: none;
            @include flex-center;            

            @media(max-width: 1150px) {
                flex-direction: column;               
            }

            .nav-item {

                .nav-link {
                    display: inline-block;
                    text-decoration: none;
                    font-family: $primary-font;
                    font-size: 22px;
                    font-weight: 500;
                    padding: 1.5rem 2rem;
                    color: $clr-navlink;  
                    transition: color .4s ease;
                    position: relative;

                    @media(max-width: 1150px) {
                        padding: 1rem 0;
                    }

                    &::after {
                        content: '';
                        background-color: $clr-navlink2;
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        left: 50%;
                        top: 40px;
                        opacity: 0;
                        transition: all .4s ease;

                        @media(max-width: 1150px) {
                            display: none;
                        }                        
                    }                    
                    
                    &:hover {
                        color: $clr-navlink2;

                        &::after {
                            top: 65px;
                            opacity: 1;
                        }
                    }
                }

                &.drop-down {    
                                    
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .drop-list {
                        @include flex-center;
                        flex-direction: column;
                        border: 2px solid $clr-navlink;
                        position: absolute;                        
                        padding: 1rem 0;
                        list-style: none;
                        top: 75px;
                        display: none;
                        border-radius: 8px;
                        min-width: 240px;
                        background-color: #fff;

                        @media(max-width: 1150px) {
                            position: initial;
                            
                        }

                        .drop-nav-item {

                            .drop-nav-link {
                                display: inline-block;
                                text-decoration: none;
                                font-family: $primary-font;
                                font-size: 22px;
                                font-weight: 500;                   
                                color: $clr-navlink;
                                position: relative;
                                transition: all .4s ease; 

                                @media(max-width: 1150px) {
                                    padding: .4rem 0;
                                }

                                &::after {
                                    content: '';
                                    background-color: $clr-navlink2;
                                    width: 8px;
                                    height: 8px;
                                    position: absolute;
                                    left: -50px;
                                    top: 10px;
                                    opacity: 0;
                                    transition: all .4s ease;                           
                                }
                                
                                &:hover {
                                    color: $clr-navlink2;
                                    transform: translateX(15px);
            
                                    &::after {
                                        left: -25px;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {

                        .drop-list {
                            display: flex;
                        }
                    }            
                }
              
            }
        }
    }

    .social-quote {
        @include flex-center;
        transition: all .2s ease-in-out;   

        @media(max-width: 1150px) {
            flex-direction: column;
            margin-top: 1rem;
        }

        .socials {
            @include flex-center;

            .social-icon-hover {
              @include social-icon;

              @media(max-width: 1150px) {
                
                &:nth-of-type(2) {
                    margin-right: 0;
                } 
                
            }


            }       
        }

        .quote-button {
            margin-right: 3rem;

            @media(max-width: 1150px) {
                margin: 0;
            }

            .quote-btn {
              
                @include large-button(125px, 50px, $clr-green);

                @media(max-width: 1150px) {
                    margin: 1.5rem 0;
                }
               
            }
        }
    }
}
}