.hero {   
    background-color: $clr-bg-primary;
    padding: 200px 0 100px;

    .hero-container {
        max-width: 1160px;
        margin: 0 auto;
        display: flex;

        @media(max-width: 1180px) {
            padding: 0 4rem;
        }

        @media(max-width: 975px) {
            flex-direction: column;
            max-width: 800px;
        }

        @media(max-width: 750px) {
            max-width: 600px;
            text-align: center;
        }

        .hero-photo {
            flex: 3;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .hero-text {
            flex: 5;           
            z-index: 10;

            h2 {
                font-family: $primary-font;
                font-size: 1rem;
                font-weight: 500;
                color: $clr-navlink;
                margin: 1rem 0;


                
            }

            strong {
                font-weight: bold;
                font-family: $secondary-font;
                font-size: 4.5rem;   
                margin-bottom: 1.8rem;
                display: inline-block;   

                @media(max-width: 750px) {
                    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
                }
                
                
            }

            p {
                font-family: $primary-font;
                font-size: 1.3rem;
                line-height: 1.5;
                font-weight: 300;
                width: 70%;
                margin-bottom: 2.5rem;

                @media(max-width: 750px) {
                    width: 100%;
                }
            }

            .get-started-btn {
                text-decoration: none;
                font-family: $primary-font;
                font-size: 16px;
                font-weight: 600;
                color: black;
                padding: 10px 20px 15px 15px;          
                border-radius: 25px;                
                position: relative;           
                display: inline-block;
                transition: color .3s ease-in-out;  
                
                @media(max-width: 975px) {
                    margin-bottom: 3rem;
                }
    
                .back-1 {
                    position: absolute;
                    width: 150px;
                    height: 60px;
                    border: 2px solid black;
                    top: -5px;
                    left: -15px;
                    border-radius: 100px;
                    z-index: -2;
                }
        
                .back-2 {
                    position: absolute;
                    width: 150px;
                    height: 60px;
                    background-color: #ff9083;
                    top: 0;
                    left: -10px;
                    border-radius: 100px;
                    z-index: -2;
                    transition: all .3s ease-in-out;  
                }
    
                &:hover {
                    color: white;
    
                    & .back-2 {
                        top: -5px;
                        left: -15px;
                    }
                }           
            }

        }
    }
    
}