.hero {   
    background-color: $clr-bg-primary;
    padding: 200px 0 100px;

    .hero-container {
        @include container;
        display: flex;

        @media(max-width: 1180px) {
            padding: 0 4rem;
        }

        @media(max-width: 975px) {
            flex-direction: column;
            max-width: 800px;
        }

        @media(max-width: 750px) {
            max-width: 600px;
            text-align: center;
        }

        .hero-photo {
            flex: 3;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .hero-text {
            flex: 5;           
            z-index: 10;

            h2 {
                font-family: $primary-font;
                font-size: 1rem;
                font-weight: 500;
                color: $clr-navlink;
                margin: 1rem 0;               
            }

            strong {
              @include strong-black;
                
            }

            p {
                @include paragraph(#616161);
                width: 70%;

                @media(max-width: 750px) {
                    width: 100%;
                }
            }

            .get-started-btn {
               @include large-button(150px, 60px);  
               margin-top: 3rem;       
            }

        }
    }
    
}