.hero {   
    background-color: $clr-bg-primary;
    padding-top: clamp(200px, 5vw, 300px);
    padding-bottom: clamp(100px, 5vw, 200px);

    @media(max-width: 1150px) {
        padding-top: clamp(120px, 1vw, 150px);   
    }

    .hero-container {
        @include flex-container;

        @media(max-width: 975px) {
            flex-direction: column;                  
        }

        @media(max-width: 750px) {
            text-align: center;
        }

        .hero-photo {
            flex: 3;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .hero-text {
            flex: 5;           
            z-index: 10;

            @media(max-width: 980px) {
                margin-bottom: 3rem;
            }           

            h2 {
                font-family: $primary-font;
                font-size: 1rem;
                font-weight: 500;
                color: $clr-navlink;
                margin: 1rem 0;               
            }

            strong {
              @include strong-black(clamp(2rem, 5vw, 5.5rem))                
            }

            p {
                @include paragraph(#616161, clamp(.8rem, 4vw, 1.5rem));
                width: 70%;
                margin-bottom: 4rem;

                @media(max-width: 750px) {
                    width: 100%;
                }
            }

            @include button(55px, 160px, .9rem 2.2rem);  
        }
    }    
}