.pricing {
    margin-bottom: 100px;

    .pricing-container {
        @include flex-container;
        flex-direction: column;

        strong {
            @include strong-black(3rem);
            margin-bottom: 1.5rem;            

            @media(max-width: 975px) {
                text-align: center;                                   
            }
        }

        .pricing-tables {            
            @include flex-center;
            justify-content: space-evenly;

            @media(max-width: 975px) {
                flex-wrap: wrap;  
                width: 90%;
                       
            }            

            .pricing-table {
                border: 1px solid lightgray;
                border-radius: 11px;
                padding: 2rem;

                @media(max-width: 1200px) {
                    width: 30%;         
                }

                @media(max-width: 975px) {
                    width: 45%;  
                    margin: 1rem;                                   
                }

                @media(max-width: 750px) {
                    width: 65%;  
                                                    
                }

                img {
                    max-width: 100%;
                }

                .stat {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-family: $primary-font;
                        font-size: 1rem;
                        line-height: 1.5;
                        padding: 1rem;
                    }

                    i {
                        color: #24c373;
                    }
                }

                .choose-plan-button {
                    @include flex-center;

                    @include button(55px, 160px, 0.8rem 1.2rem);                    
                }

                &:nth-of-type(2) {
                    background-color: black;
                    color: white;
                    z-index: 5;                    
                }
            }
        }
    }
}