.what-we-do {
    padding: 7rem 0 5rem 0;
    background-color: $clr-dark-background;   

    .what-we-do-container {
        @include flex-container;
        flex-direction: column;     

        .what-we-do-texts {
            @include flex-center;
            flex-direction: column;            
                        
            h5 {
                @include purple-texts;               
            }

            strong {                
                @include strong-white(3rem);
                @media(max-width: 750px) {
                    font-size: 2rem;
                }
            }

            p {
                @include paragraph(#bbbbbb);
                width: 70%;
                text-align: center
            }
        }

        .do-cards-container {
            @include flex-center;
            color: white;
            justify-content: space-between;

            @media(max-width: 975px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            @media(max-width: 705px) {
                padding: 0 1rem;
            }

            .do-card {
                @include flex-center;
                flex-direction: column;
                padding: 2rem;
                border-radius: 15px;
                transition: background .3s ease-in-out;
                width: 32%;

                @media(max-width: 975px) {
                    width: 50%;
                }

                @media(max-width: 705px) {
                    width: 100%;
                }

                &:nth-of-type(2) {

                    i {
                        color: #72dfe9;
                    }
                    
                &:hover {
                    background: #42424c;

                    strong {
                        color: #72dfe9;
                    }
                }
                }
                
                &:nth-of-type(3) {

                    i {
                        color: #a8aaf1;
                    }
                    
                &:hover {
                    background: #42424c;

                    strong {
                        color: #a8aaf1;
                    }
                }
                }
              
                i {
                    font-size: 5rem;
                    margin-bottom: 2rem;
                    color: #ffb5b5;
                    padding-top: 1rem;                    
                }              

                strong {
                    font-family: $primary-font;
                    font-size: 1.3rem;
                    text-align: center;
                    margin-bottom: 1.2rem;
                    transition: color .3s ease-in-out;                    
                }

                &:hover {
                    background: #42424c;

                    strong {
                        color: #ffb5b5;
                    }
                }

                h5 {
                    text-align: center;
                    font-weight: 400;
                    font-family: $primary-font;
                    color: #bbbbbb;
                    margin-bottom: 1rem;
                }
               
                 @include learn-more;                
            }
        }

        .consultation {           
            @include flex-center;
            margin-top: 160px;

            @media(max-width: 975px) {
                flex-direction: column;
                text-align: center;
            }

            .consultation-texts {
                flex: 8;

                @media(max-width: 750px) {
                    padding: 0 1rem;                   
                    width: 100%;
                    text-align: center;
                }

                strong {
                    @include strong-white(3rem);                    
                }
    
                p {
                    @include paragraph(white);

                    @media(max-width: 750px) {
                        margin-bottom: 1rem;
                    }
                   
                }
            }

            .consultation-button {
                z-index: 44;
                flex: 4;
                @include flex-center;
                justify-content: flex-end;

                @media(max-width: 975px) {
                    width: 100%;
                    margin-top: 2rem;                    
                }

                @media(max-width: 750px) {
                    justify-content: center;
                }

                @include button(65px, 180px, .9rem 2.2rem, white, white, 20px);                
            }            
        }
    }
}