* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

@import './1-helpers/variables';
@import './1-helpers/mixins';
@import './2-layout/header';
@import './2-layout/hero';
@import './2-layout/what-we-do';
@import './2-layout/services';
@import './2-layout/features';
@import './2-layout/philosophy';
@import './2-layout/pricing';
@import './2-layout/team';

